div.App {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

/* sidebar */

div.sidebar-wrapper {
    width: 250px;
    background-color: aliceblue;
    max-height: 100%;
    padding: 10px;
}

a.sidebar-link {
    display: block;
}

div.link-group {
    margin: 15px;
}

/* profile content */

h1#profile-text {
    margin: 15px 10px;
}

div.card-body {
    background-color: whitesmoke;
    margin: 5px;
    max-width: 100%;
    border-radius: 5px;
}

div.profile {
    width: 960px;
}

span.label {
    font-weight: bold;
}

/* forms */

#pw-button {
    margin-bottom: 3px;
}

.form-button {
    margin: 5px;
}

/* media queries */

@media (max-width: 480px) {
    div.App {
        flex-direction: column;
    }

    div.sidebar-wrapper {
        width: 100%;
        text-align: center;
    }

    div.nav-links {
        display: flex;
    }

    div.profile {
        max-width: 100%;
    }
}
